*{
	margin:0;
	padding: 0;
	background: #333;
	box-sizing: border-box;
}

body{
	color: white;
	font-family: Lato;
}

.container {
	max-width: 940px;
	margin:100px auto;
	text-align: center;
}

.input-group{
	padding:10px;
}

.input-group input {
	padding:5px;
	color: white;
	border: none;
	outline:none;
	border: 1px solid green;
	margin-top: 10px;
	
}
.input-group input{
  
}

#btn{
	background: lightblue;
	padding: 10px 20px;
	color:#333;
	outline: none;
    border: none;
    font-weight: bold;

}
#btn:hover{
	background:#81d1ea;
}

.btn-group{
	padding: 20px;

    
}

form{
	margin-bottom: 30px;
}
#result{
	margin-top: 50px;
}

#res span{
   
   background:green;
   color:white;
   text-transform: uppercase;;
   border-radius: 2px;
   margin-top: 50px;

}